html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 500px;
    min-height: 100px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    background-color: #FECEA8;
    color: #2A363B;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0 1.5rem 0;
}

.input-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}